body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(33, 33, 247);
    font-family: 'Century Gothic';
    background-color: rgb(125, 125, 253);
}

h1 {
    align-self: center;
    font-size: 50px;
}

/* slider */
.slide-container {
    width: 640px;
    align-self: center;
    margin: 20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 640px;
    height: 15px;
    border-radius: 5px;
    background: rgb(209, 209, 209);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(33, 33, 247);
    cursor: pointer;

}

/* grid */
.grid {
    display: flex;
    flex-direction: column;
    height: 640px;
    width: 640px;
    background-color: rgb(209, 209, 209);
    align-self: center;
    border: 5px solid rgb(151, 1, 1)
}

.row {
    display: flex;
    align-self: center;
    width: 100%;
    flex: 1;
}

.block {
    flex: 1;
    outline: solid 1px black;
}

/* footer */
.footer {
    display: flex;
    width: 640px;
    align-self: center;
    justify-content: center;
}
.size {
    align-self: center;
    text-align: center;
    margin: 20px;
    font-size: 50px;
    line-height: 100px;
    width: 200px;
    height: 100px;
    color: rgb(33, 33, 247);
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
    
}


.footer button {
    width: 200px;
    height: 100px;
    align-self: center;
    background-color: rgb(209, 209, 209);
    font-size: 50px;
    color: rgb(33, 33, 247);
    border: 20px;
}

.footer button:hover {
    background-color: white;
    border: 20px;
}
